/* Using nested and more nested to assign */

$fsize-body: 14px;
$fsize-h1: 16px;
$fsize-class: 12px;

body {
	font-size: $fsize-body;

	& h1 {
		font-size: 16px;
	}

	& h1.smaller {
		font-size: $fsize-class;
	}
}
